<!DOCTYPE html>
<html ng-app="app">

  <head>
    <!-- <script src="/jquery/jquery.js"></script> -->
    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/style.css">
    <script src="/socket.io/socket.io.js"></script>
    <script src="/node_modules/angular/angular.js"></script>
    <script src="/app.js"></script>
  </head>

  <body>
    <div id="d" ng-controller="controller"> 
      <h1>AngularDraw</h1>
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="btn-group" role="group" aria-label="...">
            <button type="button" class="btn btn-default" ng-click="setDrawtype('circle')">circle</button>
            <button type="button" class="btn btn-default" ng-click="setDrawtype('triangle')">triangle</button>
            <button type="button" class="btn btn-default" ng-click="setDrawtype('rect')">rectangle</button>
            <button type="button" class="btn btn-default" ng-click="setDrawtype('line')">line</button>
            <button type="button" class="btn btn-default" ng-click="setDrawtype('free')">free</button>
          </div>
        </div>
        <div class="panel-body">
          <canvas width="500" height="300" id="canvas" drawing drawType={{drawType}}></canvas>
        </div>
      </div>
    </div>
    <a id="downloadLnk" download="newDrawing.ldc">Download as image</a>
    <input type="file" id="imageLoader" name="imageLoader"/>
  </body>

</html>